@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle ASP.NET MVC task</h1>
    <p class="lead">ASP.NET MVC application that is responsible for login in existing users or signing up new users.</p>
</div>