body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    border-color: red;
}

.input-group-addon {
    background-color: #312d31;
    color: #a9a6a9;
    width: 160px;
    text-align: left;
}

.btn-primary {
    background-color: #e9b096;
    border: 2px solid #ad9384;
    color: #83817e;
    width: 100px;
}

.text-large {
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
}