html {
    height: 100%;
    overflow: hidden;
}

#wrapper {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    padding: 0;
}

#nav {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    font-size: 30px;
    padding: 10px 98px;
    border: 2px solid white;
    border-left: none;
    border-top: none;
    background: #eefcc6;
}

#chat-li {
    margin-left: -4px;
}

#about-li {
    margin-left: -4px;
    border-right: none;
}

.nav-item a {
    color: #989696;
    text-decoration: none;
}

#container {
    background: #eefcc6;
    width: 795px;
    height: 700px;
    padding: 0;
}

#label-user-name {
    display: inline-block;
    font-size: 40px;
    color: #989696;
    margin-top: 50px;    
    margin-left: 20px;
}

#tb-user-name {
    width: 200px;
    height: 40px;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 50px;
}

#chat-div {
    height: 550px;
    overflow-y: auto;
}

#chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #chat-list li {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

        #chat-list li:nth-child(odd) {
            background: #d9f6b4;
        }

        #chat-list li:nth-child(even) {
            background: #e6f8cf;
        }

        #chat-list li strong {
            font-size: 18px;
            font-style: italic;
            color: #989696;
        }

#send-div {
    margin: 10px;
    height: 60px;
}

#tb-send {
    width: 415px;
    height: 33px;
    font-size: 22px;
    padding: 4px;
    padding-right: 10px;
}

#send-btn {
    font-size: 26px;
    padding: 5px 15px;
    float: right;
}

#about-div {
    text-align: center;
    color: #989696;
    font-size: 22px;
    margin-top: 20px;
}
