form > table {
    background-color: #D9E4F1;
    border: solid 1px #525252;
    padding: 10px;
}

.border {
    border: solid 1px #8E9CAD;
}

.radio {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.84em;
}

input[type=button] {
    width: 32px;
    height: 26px;
    padding: 0;
}

body, input {
    color: #1E395B;
}

.special {
    font-size: 0.71em;
    text-align: center;
}

.hex {
    font-size: 0.95em;
}

.number {
    font-size: 1em;
}

.multiply {
    font-size: 1.1em;
}

input[type=button].zero {
    width: 68px;
}

input[type=button].equal {
    height: 58px;
    font-size: 1.5em;
}

.high-voltage-haha {
    font-size: 1.3em;
}

.func:hover, .number:hover {
    border: solid 1px #FFDB00;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(255,242,228,1) 0%, rgba(254,226,195,1) 50%, rgba(255,209,110,1) 51%, rgba(255,254,177,1) 94%, rgba(255,255,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(255,242,228,1)), color-stop(50%,rgba(254,226,195,1)), color-stop(51%,rgba(255,209,110,1)), color-stop(94%,rgba(255,254,177,1)), color-stop(100%,rgba(255,255,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,242,228,1) 0%,rgba(254,226,195,1) 50%,rgba(255,209,110,1) 51%,rgba(255,254,177,1) 94%,rgba(255,255,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,242,228,1) 0%,rgba(254,226,195,1) 50%,rgba(255,209,110,1) 51%,rgba(255,254,177,1) 94%,rgba(255,255,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,242,228,1) 0%,rgba(254,226,195,1) 50%,rgba(255,209,110,1) 51%,rgba(255,254,177,1) 94%,rgba(255,255,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(255,242,228,1) 0%,rgba(254,226,195,1) 50%,rgba(255,209,110,1) 51%,rgba(255,254,177,1) 94%,rgba(255,255,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fffff0',GradientType=0 ); /* IE6-9 */
}

.func:active, .number:active {
    background: #000;
}


.number {
    border: solid 1px #8797AA;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(247,251,255,1) 0%, rgba(237,243,248,1) 50%, rgba(231,237,245,1) 51%, rgba(231,237,245,1) 81%, rgba(242,251,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(247,251,255,1)), color-stop(50%,rgba(237,243,248,1)), color-stop(51%,rgba(231,237,245,1)), color-stop(81%,rgba(231,237,245,1)), color-stop(100%,rgba(242,251,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(247,251,255,1) 0%,rgba(237,243,248,1) 50%,rgba(231,237,245,1) 51%,rgba(231,237,245,1) 81%,rgba(242,251,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(247,251,255,1) 0%,rgba(237,243,248,1) 50%,rgba(231,237,245,1) 51%,rgba(231,237,245,1) 81%,rgba(242,251,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(247,251,255,1) 0%,rgba(237,243,248,1) 50%,rgba(231,237,245,1) 51%,rgba(231,237,245,1) 81%,rgba(242,251,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(247,251,255,1) 0%,rgba(237,243,248,1) 50%,rgba(231,237,245,1) 51%,rgba(231,237,245,1) 81%,rgba(242,251,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f2fbff',GradientType=0 ); /* IE6-9 */
}

.func {
    border: solid 1px #8797AA;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(240,246,251,1) 0%, rgba(226,234,243,1) 50%, rgba(213,224,237,1) 51%, rgba(213,224,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(240,246,251,1)), color-stop(50%,rgba(226,234,243,1)), color-stop(51%,rgba(213,224,237,1)), color-stop(100%,rgba(213,224,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(240,246,251,1) 0%,rgba(226,234,243,1) 50%,rgba(213,224,237,1) 51%,rgba(213,224,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(240,246,251,1) 0%,rgba(226,234,243,1) 50%,rgba(213,224,237,1) 51%,rgba(213,224,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(240,246,251,1) 0%,rgba(226,234,243,1) 50%,rgba(213,224,237,1) 51%,rgba(213,224,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(240,246,251,1) 0%,rgba(226,234,243,1) 50%,rgba(213,224,237,1) 51%,rgba(213,224,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d5e0ed',GradientType=0 ); /* IE6-9 */
}

input[disabled] {
    background-color: #D9E4F1;
    border: solid 1px #B4C2D1;
}

#binary {
    font-size: 0.85em;
    font-family: Consolas;
}

    #binary tr td {
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }

.right {
    text-align: right;
}

.grey {
    color: #666666;
}

textarea {
    resize: none;
    width: 360px;
    height: 45px;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(229,238,251,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(229,238,251,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(229,238,251,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(229,238,251,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(229,238,251,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(229,238,251,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
